@charset "utf-8";

@font-face {
    font-family: 'UniSans-Bold';
    src: url('../fonts/uni_sans_bold-webfont.eot');
    src: url('../fonts/uni_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/uni_sans_bold-webfont.woff2') format('woff2'),
         url('../fonts/uni_sans_bold-webfont.woff') format('woff'),
         url('../fonts/uni_sans_bold-webfont.ttf') format('truetype'),
         url('../fonts/uni_sans_bold-webfont.svg#unisansboldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniSans-SemiBold';
    src: url('../fonts/uni_sans_semibold-webfont.eot');
    src: url('../fonts/uni_sans_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/uni_sans_semibold-webfont.woff2') format('woff2'),
         url('../fonts/uni_sans_semibold-webfont.woff') format('woff'),
         url('../fonts/uni_sans_semibold-webfont.ttf') format('truetype'),
         url('../fonts/uni_sans_semibold-webfont.svg#unisanssemiboldbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniSans-Light';
    src: url('../fonts/uni_sans_light-webfont.eot');
    src: url('../fonts/uni_sans_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/uni_sans_light-webfont.woff2') format('woff2'),
         url('../fonts/uni_sans_light-webfont.woff') format('woff'),
         url('../fonts/uni_sans_light-webfont.ttf') format('truetype'),
         url('../fonts/uni_sans_light-webfont.svg#unisanslightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniSans-Heavy';
    src: url('../fonts/uni_sans_heavy-webfont.eot');
    src: url('../fonts/uni_sans_heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/uni_sans_heavy-webfont.woff2') format('woff2'),
         url('../fonts/uni_sans_heavy-webfont.woff') format('woff'),
         url('../fonts/uni_sans_heavy-webfont.ttf') format('truetype'),
         url('../fonts/uni_sans_heavy-webfont.svg#unisansheavybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniSans-Book';
    src: url('../fonts/uni_sans_book-webfont.eot');
    src: url('../fonts/uni_sans_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/uni_sans_book-webfont.woff2') format('woff2'),
         url('../fonts/uni_sans_book-webfont.woff') format('woff'),
         url('../fonts/uni_sans_book-webfont.ttf') format('truetype'),
         url('../fonts/uni_sans_book-webfont.svg#unisansbookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UniSans-Regular';
    src: url('../fonts/uni_sans-webfont.eot');
    src: url('../fonts/uni_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/uni_sans-webfont.woff2') format('woff2'),
         url('../fonts/uni_sans-webfont.woff') format('woff'),
         url('../fonts/uni_sans-webfont.ttf') format('truetype'),
         url('../fonts/uni_sans-webfont.svg#unisansregularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



html,
body {
	position: relative;
}
body {
	min-width: 300px;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	font-family: 'UniSans-Light';
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
label.error {
	display: none !important;
}
input.error,textarea.error {
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.fancybox-inner {
	overflow: visible !important;
}
.b {
	position: relative;
}
.b-block{
	position: relative;
	max-width: 1230px;
	margin: 0px auto;
	padding: 0 30px;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
.b-icon{
	position: relative;
}
button:hover {
	cursor: pointer;
}

.main-caption {
	display: block;
	font-size: 42px;
	font-family: 'UniSans-Bold';
}
.second-caption {
	display: block;
	font-size: 32px;
	font-family: 'UniSans-Bold';
}

.btn-anim {
	position: relative;
}
.btn-anim span {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    -webkit-animation: move 6s steps(1, end) infinite normal;
    -moz-animation: move 6s steps(1, end) infinite normal;
    -ms-animation: move 6s steps(1, end) infinite normal;
    -o-animation: move 6s steps(1, end) infinite normal;
    animation: move 6s steps(1, end) infinite normal;
}
.btn-anim span::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-animation: pulse 1s linear infinite normal;
    -moz-animation: pulse 1s linear infinite normal;
    -ms-animation: pulse 1s linear infinite normal;
    -o-animation: pulse 1s linear infinite normal;
    animation: pulse 1s linear infinite normal;
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@-ms-keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@-o-keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 10%;
    top: 5%;
  }
  16% {
    left: 70%;
    top: 50%;
  }
  33% {
    left: 25%;
    top: 64%;
  }
  49% {
    left: 35%;
    top: 13%;
  }
  66% {
    left: 87%;
    top: 40%;
  }
  82% {
    left: 58%;
    top: 70%;
  }
}
@-moz-keyframes move {
  0% {
    left: 10%;
    top: 5%;
  }
  16% {
    left: 70%;
    top: 50%;
  }
  33% {
    left: 25%;
    top: 64%;
  }
  49% {
    left: 35%;
    top: 13%;
  }
  66% {
    left: 87%;
    top: 40%;
  }
  82% {
    left: 58%;
    top: 70%;
  }
}
@-ms-keyframes move {
  0% {
    left: 10%;
    top: 5%;
  }
  16% {
    left: 70%;
    top: 50%;
  }
  33% {
    left: 25%;
    top: 64%;
  }
  49% {
    left: 35%;
    top: 13%;
  }
  66% {
    left: 87%;
    top: 40%;
  }
  82% {
    left: 58%;
    top: 70%;
  }
}
@-o-keyframes move {
  0% {
    left: 10%;
    top: 5%;
  }
  16% {
    left: 70%;
    top: 50%;
  }
  33% {
    left: 25%;
    top: 64%;
  }
  49% {
    left: 35%;
    top: 13%;
  }
  66% {
    left: 87%;
    top: 40%;
  }
  82% {
    left: 58%;
    top: 70%;
  }
}
@keyframes move {
  0% {
    left: 10%;
    top: 5%;
  }
  16% {
    left: 70%;
    top: 50%;
  }
  33% {
    left: 25%;
    top: 64%;
  }
  49% {
    left: 35%;
    top: 13%;
  }
  66% {
    left: 87%;
    top: 40%;
  }
  82% {
    left: 58%;
    top: 70%;
  }
}



.header {
	background-color: #ffffff;
	width: 100%;
}
.header .b-block {
	padding-top: 12px;
	padding-bottom: 12px;
}
.header-logo {
	display: inline-block;
	vertical-align: middle;
}
.header-logo a {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}
.header-logo .logo-text {
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	color: #000000;
	line-height: 1.2;
	text-align: left;
}
.header-contacts {
	display: inline-block;
	vertical-align: middle;
	margin: 0 140px 0 100px;
}
.header-image {
	display: inline-block;
	vertical-align: top;
}
.header-contacts-text {
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	color: #000000;
	line-height: 1.2;
}
.header-contacts-text input {
	display: inline-block;
	vertical-align: top;
	border: 1px solid rgb(215, 215, 215);
	border-radius: 7px;
	text-align: center;
	width: 150px;
	padding: 12px 0;
	font-size: 16px;
	color: #000000;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.header-contacts-text input:hover, .header-contacts-text input:focus {
	border-color: rgb(24, 99, 0);
}
.header-contacts-text input::-webkit-input-placeholder {color: rgb(154, 154, 154);}
.header-contacts-text input::-moz-placeholder          {color: rgb(154, 154, 154);}/* Firefox 19+ */
.header-contacts-text input:-moz-placeholder           {color: rgb(154, 154, 154);}/* Firefox 18- */
.header-contacts-text input:-ms-input-placeholder      {color: rgb(154, 154, 154);}
.header-contacts-text input:focus::-webkit-input-placeholder {color:transparent;}
.header-contacts-text input:focus::-moz-placeholder          {color:transparent;}/* Firefox 19+ */
.header-contacts-text input:focus:-moz-placeholder           {color:transparent;}/* Firefox 18- */
.header-contacts-text input:focus:-ms-input-placeholder      {color:transparent;}
.header-contacts-text button {
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	color: #ffffff;
	width: 150px;
	background-color: rgb(24, 99, 0);
	border-radius: 7px;
	border: 0;
	padding: 10px 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.header-contacts-text button:hover {
	background-color: #3bb514;
}
.header-phone {
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	font-family: 'UniSans-Bold';
}
.header-phone a {
	display: block;
	color: #000000;
}

.header-nav {
	position: absolute;
	z-index: 100;
	background-color: rgb(244, 244, 244);
	width: 100%;
	top: 90px;
	left: 0;
	text-align: left;
}
.header-nav ul li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 120px;
}
.header-nav ul li a {
	display: block;
	font-size: 18px;
	color: #000000;
	text-decoration: underline;
	padding: 10px 0;
}
.header-nav ul li a:hover {
	text-decoration: none;
}
.header-nav .nav-btn {
	display: block;
	padding: 10px 15px;
	color: #ffffff;
	font-size: 18px;
	background-color: rgb(255, 199, 61);
	font-family: 'UniSans-Regular';
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.header-nav .nav-btn:hover {
	background-color: #fdce5c;
}

.footer {
	border-top: 1px solid rgb(235, 235, 235);
}
.footer .b-block {
	padding-top: 30px;
	padding-bottom: 30px;
}
.footer-logo {
	display: inline-block;
	vertical-align: top;
	margin-right: 45px;
}
.footer-logo .logo-a {
	display: block;
	margin-bottom: 15px;
}
.footer-logo .logo-a img {
	display: block;
}
.footer-logo .logo-text {
	text-align: left;
	margin-bottom: 10px;
	font-size: 16px;
	color: rgb(110, 110, 110);
}
.footer-logo ul li {
	display: block;
	text-align: left;
	margin-bottom: 5px;
	font-size: 16px;
	color: rgb(110, 110, 110);
}
.footer-logo ul li a {
	color: rgb(110, 110, 110);
}
.footer-logo ul li a:hover {
	text-decoration: underline;
}
.footer-nav-list {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 0 45px;
}
.footer-nav-list li {
	display: block;
	margin-bottom: 10px;
}
.footer-nav-list li a {
	font-size: 16px;
	color: #000000;
	font-family: 'UniSans-Regular';
}
.footer-nav-list li a:hover {
	text-decoration: underline;
}
.footer-list-1 {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 0 45px;
}
.footer-list-1 li {
	display: block;
	margin-bottom: 10px;
}
.footer-list-1 li a {
	font-size: 16px;
	color: #000000;
	font-family: 'UniSans-Regular';
}
.footer-list-1 li a:hover {
	text-decoration: underline;
}
.footer-list-2 {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 0 45px;
}
.footer-list-2 li {
	display: block;
	margin-bottom: 10px;
}
.footer-list-2 li a {
	font-size: 16px;
	color: #000000;
	font-family: 'UniSans-Regular';
	position: relative;
	z-index: 10;
}
.footer-list-2 li a:hover {
	text-decoration: underline;
}
.footer-list-2 li .list-a {
	display: block;
	background-color: rgb(255, 200, 80);
	color: #ffffff;
	padding: 5px;
	text-align: center;
	border-radius: 7px;
	z-index: 0;
}
.footer-list-2 li .list-a:hover {
	text-decoration: none;
}
.footer-atk-logo {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	margin-left: 45px;
}
.footer-atk-logo .atk-logo-a {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 18px;
}
.footer-atk-logo .atk-logo-a img {
	display: block;
	margin-bottom: 9px;
}
.footer-atk-logo .atk-logo-a p {
	display: block;
	text-align: left;
	font-size: 12px;
	color: rgb(181, 181, 181);
}
.footer-atk-logo .social-list li {
	display: inline-block;
	vertical-align: top;
	margin: 0 3px;
}
.footer-atk-logo .social-list li:hover img {
	-webkit-animation: anim_icon 1s ease infinite;
	-moz-animation: anim_icon 1s ease infinite;
	-ms-animation: anim_icon 1s ease infinite;
	-o-animation: anim_icon 1s ease infinite;
	animation: anim_icon 1s ease infinite;
}

@-webkit-keyframes anim_icon {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(30deg);}
	30% {transform: rotate(-30deg);}
	40% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}
@-moz-keyframes anim_icon {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(30deg);}
	30% {transform: rotate(-30deg);}
	40% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}
@-ms-keyframes anim_icon {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(30deg);}
	30% {transform: rotate(-30deg);}
	40% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}
@-o-keyframes anim_icon {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(30deg);}
	30% {transform: rotate(-30deg);}
	40% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}
@keyframes anim_icon {
	0% {transform: rotate(0deg);}
	10% {transform: rotate(30deg);}
	30% {transform: rotate(-30deg);}
	40% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}
}








@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1279px){
	.b-block {
		padding: 0 10px;
		max-width: 720px;
	}
	.header-logo .logo-text {
		display: none;
	}
	.header-nav {
		top: 90px;
	}
	.header-contacts {
		margin: 0 20px 0 0;
	}
	.header-nav ul li {
		margin-right: 20px;
	}
	.footer-logo, .footer-nav-list, .footer-list-1, .footer-list-2, .footer-atk-logo {
		display: block;
		margin: 0 auto 20px;
		max-width: 250px;
		width: 100%;
	}
}
@media screen and (max-width: 767px){
	.header-logo, .header-contacts, .header-nav {
		display: none;
	}
}