.b-1 .b-block {
	padding-top: 100px;
	padding-bottom: 60px;
}
.b-1 {
	color: #000000;
}
.b-1 a {
	color: rgb(255, 205, 81);
}
.b-1 .second-caption {
	margin: 60px auto 40px;
}
.b-1 p {
	text-align: left;
}