.b-1 {
	color: #ffffff;
	background-image: url("../i/thanks-back.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}
.b-1 .b-block {
	box-sizing: border-box;
	padding-top: 150px;
	padding-bottom: 150px;
	min-height: calc(100vh - 90px);
}
.b-1 p {
	display: block;
	margin-top: 20px;
	font-size: 30px;
}

@media screen and (max-width: 767px) {
	.b-1 .b-block {
		min-height: calc(100vh - 48px);
	}
}